[Unit]
Description=MariaDB for Password Pusher
After=pwpush.pod

[Container]
Image=docker.io/library/mariadb:11
Pod=pwpush.pod

# Persistent data
Volume={{INSTALL_DIR}}/pwpush/mariadb:/var/lib/mysql:Z,U

# Credentials (CHANGE THESE!)
Environment=MYSQL_DATABASE=pwpush
Environment=MYSQL_USER=pwpush
Environment=MYSQL_PASSWORD=changeMe
Environment=MYSQL_ROOT_PASSWORD=changeRoot
