[Unit]
Description=Password Pusher Public Gateway
After=pwpush.pod mariadb.service

[Container]
Image=docker.io/pglombardo/pwpush-public-gateway:latest
Pod=pwpush.pod

# Same DB as the app:
Environment=DATABASE_URL=mysql2://pwpush:changeMe@127.0.0.1:3306/pwpush

# Public-facing base URL so outbound links are correct:
Environment=PWP__OVERRIDE_BASE_URL={{PWP__OVERRIDE_BASE_URL}}