[Container]
ContainerName=ddns-updater
Image=docker.io/qmcgaw/ddns-updater
PublishPort=8000:8000/tcp
Volume={{INSTALL_DIR}}/ddns-updater/data:/updater/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target