[Container]
ContainerName=ddns-updater
Image=docker.io/qmcgaw/ddns-updater
Volume={{INSTALL_DIR}}/ddns-updater/data:/updater/data:Z,U

Network=appnet

[Service]
Restart=always

[Install]
WantedBy=default.target