[Container]
ContainerName=guacamole
Image=docker.io/flcontainers/guacamole:latest
Environment=EXTENSIONS=auth-totp
PublishPort=8003:8080
Volume={{INSTALL_DIR}}/guacamole/config:/config
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always

[Install]
WantedBy=default.target