[Container]
ContainerName=guacamole
HostName=guacamole
Image=docker.io/guacamole/guacamole:latest
PublishPort={{HOST_PORT}}:8080

# Point Guacamole at the guacd container by name (same default podman network)
Environment=GUACD_HOSTNAME=guacd

# Enable TOTP in Guacamole
Environment=TOTP_ENABLED=true

Environment=POSTGRES_HOST=postgres
Environment=POSTGRES_DATABASE=guacamole_db
Environment=POSTGRES_USER=guac_user
Environment=POSTGRES_PASSWORD=password

Volume={{INSTALL_DIR}}/guacamole:/etc/guacamole:Z,U

[Service]
Restart=always

[Install]
WantedBy=default.target
