[Container]
Image=docker.io/jc21/nginx-proxy-manager
PublishPort=443:443
PublishPort=81:81
Volume={{INSTALL_DIR}}/nginx-proxy-manager/data:/data:Z
Volume={{INSTALL_DIR}}/nginx-proxy-manager/letsencrypt:/etc/letsencrypt:Z

[Service]
Restart=always

[Install]
WantedBy=default.target