[Container]
ContainerName=npmplus
Image=docker.io/dpage/pgadmin4:latest
Volume={{INSTALL_DIR}}/pgadmin/data:/var/lib/pgadmin:Z,U

Environment=PGADMIN_DEFAULT_EMAIL=admin@example.com
Environment=PGADMIN_DEFAULT_PASSWORD=password
Environment=PGADMIN_LISTEN_PORT=5050

PublishPort={{HOST_PORT}}:5050

[Service]
TimeoutStartSec=120
Restart=always

[Install]
WantedBy=default.target
