[Container]
ContainerName=npmplus
Image=docker.io/dpage/pgadmin4:latest
Volume={{INSTALL_DIR}}/pgadmin/data:/var/lib/pgadmin:Z

Environment=PGADMIN_DEFAULT_EMAIL=admin@example.com
Environment=PGADMIN_DEFAULT_PASSWORD=changeMeNow!
Environment=PGADMIN_LISTEN_PORT=5050

PublishPort={{HOST_PORT}}:5050

Restart=always

[Service]
TimeoutStartSec=120

[Install]
WantedBy=default.target
