[Container]
ContainerName=postgres
Image=quay.io/sclorg/postgresql-16-c10s:latest
Volume={{INSTALL_DIR}}/postgresql/data:/var/lib/pgsql/data:Z,U
PublishPort=5432:5432

Environment=POSTGRESQL_USER=postgres
Environment=POSTGRESQL_PASSWORD=postgres
Environment=POSTGRESQL_DATABASE=postgres

HealthCmd=CMD-SHELL pg_isready -h 127.0.0.1 -U "$${POSTGRESQL_USER:-postgres}" -d "$${POSTGRESQL_DATABASE:-postgres}"
HealthInterval=10s
HealthTimeout=5s
HealthStartPeriod=20s
HealthRetries=5

[Service]
TimeoutStartSec=180
Restart=always

[Install]
WantedBy=default.target
