[Container]
ContainerName=pwpush-gateway
Image=docker.io/pglombardo/pwpush-public-gateway:latest

Network=appnet

[Service]
Restart=always

[Install]
WantedBy=default.target