[Container]
ContainerName=pwpush
Image=docker.io/pglombardo/pwpush:latest

Network=appnet

[Service]
Restart=always

[Install]
WantedBy=default.target